<!DOCTYPE html>
<html>
<head>
  <title>Styledblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sidebar">
	<div id="logo">
		<%= link_to root_path do %>
			<%= image_tag "logo.svg" %>
		<% end %>
	</div>
	
	<ul>
		<li class="category">Website</li>
		<li><%= link_to "Blog", root_path %></li>
		<li><%= link_to "About", about_path %></li>
	</ul>

	<ul>
	    <li class="category">Social</li>
		<li><a href="https://www.facebook.com/irfan.bosnjak">Facebook</a></li>
        <li><a href="https://bitbucket.org/mobutuseseku">Bitbucket</a></li>
        <li><a href="mailto:irfan.bosnjak86@gmail.com">Email</a></li>
	</ul>	
	<% if !user_signed_in? %>
    	<p class="sign_in">Admin Login</p>
    <% end %>
</div>

<div id="main_content">
	<div id="header">
	<% if current_page?(root_path) %>
		<p>All Posts</p>
	<% elsif current_page?(about_path) %>
		<p>About</p>
	<% else %>
		<%= link_to "Back to the All post", root_path %>
	<% end %>
	<% if user_signed_in? %>
		<div class="buttons">
			<%= link_to "New Post", new_post_path, :class => "button" %> 
			<%= link_to "Log Out", :class => "button" %>
		</div>
	<% end %>
	</div>

	<% flash.each do |name, msg| %>   
        <%= content_tag(:div, msg, class: "alert") %>
	<% end %>

	<%= yield %>

</div>


</body>
</html>
